flask>=3.0.0
flask-cors>=4.0.0
numpy>=1.24.0
face_recognition_models>=0.3.0
click
Pillow
Flask
Flask-SQLAlchemy
psycopg2-binary
python-dotenv
git+https://github.com/ageitgey/face_recognition_models
face_recognition